{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
        </div>
      </div>
    <div class="d-flex justify-content-center form_container">
      <form class='contact-form' method="POST" action='{% url "contact" %}'>{% csrf_token %}
        {{form}}
        <div class="d-flex justify-content-center mt-3 login_container">
          <button type="submit" name="button" class="btn login_btn">Submit</button>
        </div>
       </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
